html {
    scroll-behavior: smooth;
}
body {
    width: 95%;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background: url(/images/SHSU.png) right repeat-y fixed;
    background-size: 20%;
    background-color: #ffffff;
}
#nav_menu ul { 
    list-style-type: none;
    padding-bottom: 1em; 
    text-align: center;
    border-bottom: 3px solid black; 
    overflow: auto;
}
#nav_menu ul li {
    float: left; 
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0; 
    text-decoration: none;
    background-color: rgb(128, 0, 0);
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
}
#nav_menu ul li a.lastitem {
    border-right: none; 
}
#nav_menu ul li a.current {
    color: yellow; 
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);
}
article img{
    float: left;
    padding: 0em 1em;
}
article h2 {
    text-align: left;
}
aside {
    position: fixed;
    width: auto;
    float: right;
    background-color: aqua;
    right: 0.5em;
    padding: 1.5em;
    border:2px solid, #0c0c0c;
    border-radius: 25px;
}
aside ol {
    list-style-type: upper-roman;

} 
aside ul {
    list-style-type: square;
}
footer {
    clear: both;
    border-top: 2px solid lightskyblue;
    text-align: center;
    font-size: 80%;
}