html {
background-image: linear-gradient( #1c1c1c6b 30%, #1c1c1c6b 70%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background: url(/images/SHSU.png) right repeat-y fixed;
    background-size: 25%;
    background-color: #ffffff; 

}
a:hover, a:focus {
    font-style: italic;
    color: rgb(37, 37, 37);
}
header h1 {
    font-size:175%;
    color: rgb(0, 225, 255);
    text-indent: 30px;
}
header h2 {
    font-size:130%;
    color: #0c0c0c;
    text-indent: 30px;
}
header img {
    float: left;
    margin-left: 2em;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(36, 36, 36);
}
main {
    clear: left;
    margin-top: 4em;
}
main h3 {
    margin: 1.5em 2em 1.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius:20px;
    box-shadow: 2px 2px 2px 2px rgb(57, 57, 57);
    padding: 1em;
}
main nav{
    margin: 1.5em 2em 1.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(57, 57, 57);
    padding: 0.5em;
}
main div.contact{
    margin: 1.5em 2em 0em 2em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(57, 57, 57);
    padding: 1em;
}
#list {
    line-height: 1.5em;
}
footer {
    text-align: center;
    font-size: 80%;
}