html {
    scroll-behavior: smooth;
}
header h1 {
    text-align: center;
}
body {
    margin: 4em;
}
#nav_menu ul {
    list-style-type: none;
    padding: 2em 0; 
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a {
    text-align: center;
    text-decoration: none;
    background-color: rgba(230, 168, 0, 0.877);
    font-weight: bold;
    color: rgb(0, 0, 0); 
    padding: 0.7em 2em;
}
#nav_menu ul li a.current {
    text-decoration: none; 
}

article h2 {
    text-align: left;
}
aside ol {
    list-style-type: upper-roman;
}
aside ul {
    list-style-type: square;
}
