html {
background-image: linear-gradient(to left, #0000006b);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background: url(/images/SHSU.png) right repeat-y fixed;
    background-size: 20%;
    background-color: #ffffff; 

}
a:hover, a:focus {
    font-style: italic;
    color: rgb(37, 37, 37);
    border: 3px blue;
    border-style: dotted solid
}
header{
    border-bottom: 2px solid lightskyblue;
    padding: top 1em;
}
header h1 {
    font-size:175%;
    color: rgb(0, 225, 255);
    text-indent: 30px;
}
header h2 {
    font-size:130%;
    color: #0c0c0c;
    text-indent: 30px;
}
header img {
    float: left;
    margin-left: 2em;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(36, 36, 36);
}
article {
    clear: left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px solid orange;
    column-gap: 2em;
    margin-left: 2em;
}
article h3 {
    column-span: all;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: lightblue;
}
aside {
    width: 20%;
    float: right;
    background-color: #ffebc6;
    margin-top: 0.5em;
    padding: 1em;
}
footer {
    clear: both;
    border-top: 2px solid lightskyblue;
}
p.fixed {
    width: auto;
    float: right;
    position: fixed;
    background-color: aqua;
    right: 0.5em;
    padding: 1.5em;
    border:2px solid, #0c0c0c;
    border-radius: 25px;
}